.board {
    border: solid black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.square {
    border: solid black;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}